:root
{
  --main-bg-color: #222831;
  --nav-bg-color: #393E46;
  --container-bg-color: #682222;
  --text-color: #EEEEEE;
  --container-hr-color: #8A3333;
}

html
{
    margin: 0;
}

body
{
    margin: 0;
    background-color: black;
    color: var(--text-color);
    font-family: 'Cousine';
}

nav
{
    background-color: var(--nav-bg-color);
    top: 0;
    width: 100vw;
    position: sticky;
}
nav h1
{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 10vh;
    margin-left: 2vw;
}

img
{
    max-width: 30vw;
}

main
{
    background-color: var(--main-bg-color);
    top: 10vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 96vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.section_container
{
    background-color: var(--container-bg-color);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height: 120px;
    border-radius: 10px;
}

.section_container h2
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.section_container h3
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.section_container h4
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.section_container p
{
    margin-bottom: 0;
    padding-bottom: 2vh;
}

.section_container hr
{
    border: none;
    height: 1vh;
    background-color: var(--container-hr-color);
    border-radius: 4px;
}

.section_container ul
{
    margin: 0;
}

.section_container ul li p
{
    padding: 0;
    margin: 0;
    margin-left: 2vw;
}

.section_container ol
{
    margin: 0;
}

.section_container ol li p
{
    padding: 0;
    margin: 0;
    margin-left: 2vw;
}