html
{
    margin: 0;
}

body
{
    margin: 0;
    background-color: #222831
}

nav
{
    background-color: #393E46;
}

main
{
    background-color: #00ADB5;
}

.section_container
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #EEEEEE;
}